@model ProductCatalog.Models.Product

@{
    ViewData["Title"] = "Детали продукта";
}

<h2>Подробтці продукта</h2>

<p><strong>Название:</strong> @Model.Name</p>
<p><strong>Цена:</strong> @Model.Price</p>
<p><strong>Категорія</strong> @Model.Category</p>

<a asp-controller="Product" asp-action="ProduktIndex">Назад к списку</a>
